.wrapper {
  --_maxWidth: 350px;
  --_minHeight: 300px;
  position: relative;
  width: var(--_maxWidth);
  max-width: var(--_maxWidth);
  min-height: var(--_minHeight);
  padding: var(--spacingMd);
  padding-bottom: calc(var(--spacingMd) - var(--spacingSm));
  display: grid;
  grid-template-rows: auto 1fr;
  border-radius: var(--radiusXs);
  background-color: var(--colorBg1);

  &::before {
    content: '';
    position: absolute;
    inset: 0;
    z-index: 0;
    background-color: var(--colorBg3);
    opacity: 0;
    color: hsl(calc(100 * 180), 50%, 50%);
  }

  & > * {
    z-index: 1;
  }

  &[data-is-dragging-over='true'] {
    &::before {
      opacity: 1;
    }
  }
}

.header {
  margin-bottom: var(--spacingMd);
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: var(--spacingMd);
  align-items: center;
}

.heading {
  text-align: center;
  width: 100%;
}

.input {
  padding-block: var(--spacingXs);
  padding-inline: var(--spacingSm);
  background-color: var(--colorBg2);
  border: none;
  border-radius: var(--radiusXs);

  &:placeholder-shown {
    color: var(--colorText);
  }

  &:focus,
  &:focus-within,
  &:focus-visible {
    outline: 2px solid var(--colorText);
  }
}

.container {
  display: grid;
  align-content: start;

  & > * {
    margin-bottom: var(--spacingSm);
  }
}
