.wrapper {
  --_maxWidth: 350px;
  // width: 100%;
  width: var(--_maxWidth);
  max-width: var(--_maxWidth);
  padding: var(--spacingMd);
  display: grid;
  grid-template-rows: auto 1fr;
  gap: var(--spacingMd);
  border-radius: var(--radiusXs);
  background-color: var(--colorBg1);
}

.header {
  display: flex;
  gap: var(--spacingMd);
  justify-content: space-between;
  align-items: end;
}

.heading {
  text-align: center;
  width: 100%;
}

.input {
  padding-block: var(--spacingXs);
  padding-inline: var(--spacingSm);
  background-color: var(--colorBg2);
  border: none;

  &:placeholder-shown {
    color: var(--colorText);
  }

  &:focus,
  &:focus-within,
  &:focus-visible {
    outline: 2px solid var(--colorText);
  }
}

.container {
  position: relative;
  display: grid;
  gap: var(--spacingSm);
  align-content: start;

  &::before {
    content: '';
    position: absolute;
    inset: 0;
    z-index: 0;
    background-color: #fff;
    opacity: 0;
    color: hsl(calc(100 * 180), 50%, 50%);
  }

  & > * {
    z-index: 1;
  }

  &[data-is-dragging-over='true'] {
    &::before {
      opacity: 0.02;
    }
  }
}
