.wrapper {
  --_maxWidth: 350px;
  width: var(--_maxWidth);
  max-width: var(--_maxWidth);
  display: grid;
  grid-template-rows: auto 1fr;
  border-radius: var(--radiusXs);
  background-color: var(--colorBg1);
  // box-shadow: 5px 5px 5px #fff8;
}

.header {
  padding: var(--spacingMd);
  padding-bottom: var(--spacingSm);
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: var(--spacingMd);
  align-items: center;
  background-color: inherit;
}

.heading {
  text-align: center;
  width: 100%;
}

.input {
  padding-block: var(--spacingXs);
  padding-inline: var(--spacingSm);
  background-color: var(--colorBg2);
  border: none;
  border-radius: var(--radiusXs);

  &:placeholder-shown {
    color: var(--colorText);
  }

  &:focus,
  &:focus-within,
  &:focus-visible {
    outline: 2px solid var(--colorText);
  }
}

.scrollableContainer {
  max-height: 500px;
  overflow-y: scroll;
}

.container {
  position: relative;
  min-height: 200px;
  padding: var(--spacingSm);
  padding-top: 0;

  & > * {
    margin-top: var(--spacingSm);
  }

  &[data-is-dragging-over='true'] {
    background-color: var(--colorBg3);
  }
}
