.wrapper {
  grid-area: sidebar;
  padding: var(--spacingMd);
  padding-bottom: calc(var(--spacingMd) - var(--spacingXs));
  background-color: var(--colorBg1);
  overflow-y: auto;
}

.separator {
  margin-block: var(--spacingMd);
  color: var(--colorBg3);
}
