.wrapper {
  grid-area: sidebar;
  padding: var(--spacingMd);
  display: grid;
  // display: flex;
  // flex-wrap: wrap;
  gap: var(--spacingXs);
  justify-items: start;
  align-content: start;
  background-color: var(--colorBg1);
}
