.wrapper {
  padding: var(--spacingSm);
  display: grid;
  gap: var(--spacingSm);
  background-color: var(--colorBg2);
  cursor: grab;
}

.content {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  gap: var(--spacingXs);

  padding: 5px;

  &::before {
    content: '';
    position: absolute;
    inset: 0;
    z-index: 0;
    background-color: var(--colorBg3);
    opacity: 0;
    color: hsl(calc(100 * 180), 50%, 50%);
  }

  & > * {
    z-index: 1;
  }

  &[data-is-dragging-over='true'] {
    &::before {
      opacity: 1;
    }
  }
}

.empty {
  font-size: var(--fontSizeXs);
  font-style: italic;
}
