.wrapper {
  background-color: var(--colorBg2);
  cursor: grab;
  border-radius: var(--radiusXs);
}

.droppable {
  position: relative;
  padding: var(--spacingSm);
  padding-bottom: calc(var(--spacingSm) - var(--spacingXs));
  display: grid;

  &::before {
    content: '';
    position: absolute;
    inset: 0;
    z-index: 0;
    background-color: var(--colorBg3);
    opacity: 0;
    color: hsl(calc(100 * 180), 50%, 50%);
  }

  & > * {
    isolation: isolate;
    z-index: 1;
  }

  &[data-is-dragging-over='true'] {
    &::before {
      opacity: 1;
    }
  }
}

.heading {
  margin-bottom: var(--spacingSm);
}

.content {
  display: grid;
  justify-items: start;

  & > * {
    margin-bottom: var(--spacingXs);
  }
}

.empty {
  font-size: var(--fontSizeXs);
  font-style: italic;
}
