.wrapper {
  padding-block: var(--spacingXs);
  padding-inline: var(--spacingSm);
  background-color: var(--colorBg2);
  border: none;
  border-radius: var(--radiusXs);

  &:placeholder-shown {
    color: var(--colorText);
  }

  &:focus,
  &:focus-within,
  &:focus-visible {
    outline: 2px solid var(--colorText);
  }
}
