.Content {
  border: 2px solid red;
  margin-right: 200px;
}

.Item {
  display: flex;
  user-select: none;
  padding: 0.5rem;
  margin: 0 0 0.5rem 0;
  align-items: flex-start;
  align-content: flex-start;
  line-height: 1.5;
  border-radius: 3px;
  background: #fff;
  // border: 1px ${(props) => (props.isDragging ? 'dashed #4099ff' : 'solid #ddd')};
}

.Clone {
  @extend .Item;

  & + div {
    display: none !important;
  }
}

.Handle {
  display: flex;
  align-items: center;
  align-content: center;
  user-select: none;
  margin: -0.5rem 0.5rem -0.5rem -0.5rem;
  padding: 0.5rem;
  line-height: 1.5;
  border-radius: 3px 0 0 3px;
  background: #fff;
  border-right: 1px solid #ddd;
  color: #000;
}

.List {
  // border: 1px ${(props) => (props.isDraggingOver ? 'dashed #000' : 'solid #ddd')};
  background: #fff;
  padding: 0.5rem 0.5rem 0;
  border-radius: 3px;
  flex: 0 0 150px;
  font-family: sans-serif;
}

.Kiosk {
  @extend .List;

  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  width: 200px;
}

.Container {
  @extend .List;

  margin: 0.5rem 0.5rem 1.5rem;
  background: #ccc;
}

.Notice {
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: center;
  padding: 0.5rem;
  margin: 0 0.5rem 0.5rem;
  border: 1px solid transparent;
  line-height: 1.5;
  color: #aaa;
}

.Button {
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: center;
  margin: 0.5rem;
  padding: 0.5rem;
  color: #000;
  border: 1px solid #ddd;
  background: #fff;
  border-radius: 3px;
  font-size: 1rem;
  cursor: pointer;
}

.ButtonText {
  margin: 0 1rem;
}
