.wrapper {
  grid-area: board;
  align-self: center;
  max-height: min(100vh, 700px);
  margin-inline: auto;
  padding: var(--spacingSm);
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: var(--spacingMd);
  justify-content: center;
  align-items: start;
}
