.wrapper {
  width: 100%;
  max-width: 720px;
  padding: 100px;
  grid-area: board;
  margin-inline: auto;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: var(--spacingMd);
  justify-content: center;
  align-items: start;
}
