.wrapper {
  padding-block: var(--spacingXs2);
  padding-inline: var(--spacingXs);
  display: grid;
  align-items: center;
  border-radius: var(--radiusXs2);
  background-color: var(--_colorBg);
  color: #fff;
  font-size: var(--fontSizeXs);
  cursor: grab;
}
