.wrapper {
  padding-block: var(--spacingXs2);
  padding-inline: var(--spacingXs);
  display: grid;
  align-items: center;
  border-radius: 2px;
  background-color: var(--colorBgActive);
  color: #fff;
  font-size: var(--fontSizeXs);
  cursor: grab;
  // margin-bottom: 5px;

  [data-is-dragging='true'] {
    background-color: red;
  }
}
